# Зависимости (Самый тяжелый мусор)
node_modules/
.pnp
.pnp.js

# Секреты (Критически важно!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Результаты сборки
dist/
build/
.vercel

# Логи и отладка
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Системные файлы (Мусор от Windows/Mac)
.DS_Store
Thumbs.db

# Настройки IDE (Твои личные настройки редактора)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
